* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: '#fefefe';
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: navy;
  outline: none;
}

body {
  padding: 0 20px;
}

.title {
  font-weight: 600;  
  padding: 20px 0 15px 0px;  
}

#select-disciplina {
  border: 2px solid navy;
  border-radius: 4px;
  height: 35px;  
}

th {
  padding: 20px 20px 15px 0;
}

td {
  padding-bottom: 15px; 
}

input {
  height: 30px;
  width: 70px;
  margin-right: 10px; 
  border: 2px solid navy;
  border-radius: 4px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: none;
}

.btn-group {
  padding-top: 15px;
}

button {
  height: 35px;
  width: 70px;
  background: navy;
  color: #fefefe;
  border: none;
  border-radius: 4px;
}

#btn-clear {
  margin-left: 10px;
  background: navy;
}